@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100%;
    
}



.container1{
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #FFDC25 ,#eff0cf, #FFF7CE);   
}




/*header section  */



.container1 header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 10vh;
}

.container1  a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vw;
    text-decoration: none;
    color: black;
    font-family: "Syne", sans-serif;
    font-weight: 700;
}

/* header menu section */

.container1 header ul{
    display: flex;
    align-items: center;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5vw;
    gap: 2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}


/* login button */

.container1 header button {
    width: 10vw;
    margin-left: 2vw;
    height: 70%;
    border-radius: 10px;
    border: 1px solid #0039CD;
    font-family: "Syne";
    font-size: 1.7vw;
    font-weight: 700;
    color: #0039CD;
    transition: 0.3s;
}

.container1 header button:hover{
    background-color: blue;
    color: white;
}

/* meu icon for phone view */
.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* drop down menu for phone  */

.dropdown-menu {
    display: none;
    position: absolute;
    top: 10vh;
    right: 2vw;
    margin-right: 3vw;
    background-color: #f1e18f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 4vw;
}

.dropdown-menu ul li {
    padding: 12px 16px;
    border-bottom: 1px solid black;
}

.dropdown-menu ul li:hover {
    background-color: #ddd;
}



/* header styles for phone view */

@media (max-width: 700px) {

    .container1{
        height: 700px;
        background: radial-gradient(circle at top left, #FFDC25 ,#eff0cf, #FFF7CE);   
    }


    .container1 a{
        font-size: 5vw;
        padding-left: 4vw;
    }
    .container1 header ul,
    .container1 header button {
        display: none;
    }

    .container1 header img {
        display: block;
        justify-self: flex-end; 
    }
}




/* banner css */

.container1 .banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}

/* banner text/content section  */


.container1 .banner .bannerLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48vw;
    padding-left: 2vw;
}


.banner .bannerLeft h1{
   
    width: 100%;
    font-size: 5vw;
    font-family: "Syne";
    font-weight: 700;
    padding-left: 3vw;
}


/* animation of heading  */

.bannerLeft h1 span{
    
    padding-left: 1vw;
    background-color: #FFDE30;
    border-radius: 5px;
    animation: slideBackground 5s infinite;
}


/* Keyframe animation for sliding background */
@keyframes slideBackground {
    0%, 100% {
        background-size: 0% 100%;
    }
    50% {
        background-size: 100% 100%;
    }
}



.bannerLeft h1 span{
    background: linear-gradient(to right, #FFDE30 100%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background 0.5s ease-in-out;
}



.banner .bannerLeft p{
    font-size: 1.3vw;
    font-family: "Montserrat", sans-serif;
    padding-left: 3vw;
    padding-top: 4vh;
    width: 80%;
}



.bannerLeft div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3vw;
    width: 70%;
    height: 9vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.3vw;
    margin-top: 5vh;
}


.bannerLeft div input{
    border: none;
    height: 100%;
    width: 60%;
    font-family: "Montserrat";
}


.bannerLeft div button{
    height: 100%;
    width: 30%;
    color: white;
    background-color: #0039CD;
    border: none;
    border-radius: 5px;
    margin-left: 1.3vw;
    font-family: "Syne";
    font-size: 90%;
    font-weight: 700;
    transition: 0.3s;
}

.bannerLeft div button:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}



.banner .bannerRight{
    display: flex;
    align-items: center;
    justify-content: center;
}


.banner .bannerRight img{
    width: 90%;
}


/* style for banner for phone view */
@media (max-width: 700px){
    .container1 .banner{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container1 .banner .bannerLeft{
        width: 100%;
        display: flex;
        align-items: center;
        
    }

    .banner .bannerLeft h1 {
        font-size: 6vw ;
    }

    .banner .bannerLeft p{
        font-size: 2vw;
        text-align: center;
    }

    .bannerLeft div{
       width: 70%;
       height: 8vw;
       margin-top: 20px;
    }
    
    .bannerLeft div button{
    margin-left: 4vw;  
    }
    
    .banner .bannerRight{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    
    
    .banner .bannerRight img{
        width: 70%;
    }
}






/* services and experience sections  */

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}


/* services section */


.container2 .services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.container2 .services h5 {
    font-family: "Montserrat" ;
    color: #EA5A47;

}

.container2 .services h2{
    font-family: "Syne";
    font-size: 3.5vw;
    width: 70%;
    text-align: center;
}



.services h2 span {
    position: relative;
    display: inline-block;
    animation: slideBackground 5s infinite;
}




.services h2 span {
    background: linear-gradient(to right, #FFDE30 100%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background 0.5s ease-in-out;
}


/* cards for servies provided */

.container2 .servicesList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 4vw;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.container2 .servicesList .serviceDetails{
    display: flex;
    width: 20vw;
    height: 17vh;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5vw;
    transition: 0.3s;
}

.servicesList .serviceDetails:hover{
    border: 2px solid red;
}



.servicesList .serviceDetails .serviceLogo{
    width: 4vw;
    height: 4vw;
}


.serviceDetails div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
}

.serviceDetails h5{
    width: 60%;
    font-size: 1vw;
    font-family: "Syne";
}

.serviceDetails div p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceDetails div p img{
    width: 2vw;
}

.container2 button{
    margin-top: 9vh;
    color: black;
    font-family:"Syne";
    font-weight:700;
    background-color: transparent;
    border :none;
    font-size: 1.3vw;
}



/* for moblie viee remove the last 2 cards */
.last{
    display: flex;
    width: 20vw;
    height: 17vh;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5vw;
    transition: 0.3s;
}


.last:hover{
    border: 2px solid red;
}



.container2 .servicesList .last{
    display: flex;
    width: 20vw;
    height: 17vh;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5vw;
}


.servicesList .last .serviceLogo{
    width: 4vw;
    height: 4vw;
}


.last div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
}

.last h5{
    width: 60%;
    font-size: 1vw;
    font-family: "Syne";
}

.last div p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last div p img{
    width: 2vw;
}



/* style for moblie view */


@media (max-width:700px) {
    .container2 .services{
        align-items: flex-start;
        padding-left:7vw;
        
    }
    
    
    .last,.container2 .servicesList .last, .servicesList .last .serviceLogo,.last div p img,.last div p,.last h5{display: none;}
    
    
    .container2 .services h2{
        text-align:left;
        font-size: 4.5vw;
        margin-top: 3vh;
    }



     .container2 .servicesList{
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        margin-top: 30px;
        gap: 10vw;
    
    } 
    
    .container2 .servicesList .serviceDetails{
        flex-direction: column;
        width: 30vw;
        height: 23vw;
        border: 1px solid rgb(232, 232, 232);
        box-shadow:none
        
    }
    
    .servicesList .serviceDetails .serviceLogo{
        width: 9vw;
        height: 9vw;
    }
    
    
    .serviceDetails div{
        justify-content: flex-start;
        padding-left: 0;
    }
    
    .serviceDetails h5{
        width: 60%;
        font-size: 2.5vw;
        font-family: "Syne";
        margin-top: 10px;
    }
    
    .serviceDetails div p{
        align-items: center;
        justify-content: flex-start;
        font-family: "Montserrat";
        font-weight: 700;
        margin-top: 10px;
    }
    .serviceDetails div p img{
        width: 3vw;
    }
    
    .container2 button{
       
        font-size:3vw;
    }
    
    .servicesList .serviceDetails:hover{
        border: 2px solid blue;
    }

    .last:hover{
        border: 2px solid blue;
    }
    
    
    
}


/* experience section css */


.experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vw;
    margin-top: 10vh;
    z-index: 2;
}


.experiences h5{
    color:blue;
    font-family: "Montserrat";
    font-size: 1.5vw;
}



.experiences .expText{
    display: flex;
    align-items: center;
    margin-top: 2vh;
}


.expText h1{
    font-family: "Syne";
    font-size: 4vw;
    width: 60%;
}

.expText h1 span {
    position: relative;
    display: inline-block;
    animation: slideBackground 5s infinite;
}




.expText h1 span {
    background: linear-gradient(to right, #FFDE30 100%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: background 0.5s ease-in-out;
}


.expText p{
    font-family: "Montserrat";
    width: 30%;
    margin-left: 3vw;
    text-align: center;
    font-weight: 400;
}


.experiences .expOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2vw;
    flex-wrap: wrap;
    margin-top: 7vh;   
}


.experiences .expOptions .optionsContainer{
    display: flex;
    width: 25vw;
    height: 15vh;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5vw;
}


.expOptions .optionsContainer h4{
    font-size: 1.5vw;
    margin-left: 0.7vw;
    font-family: "Syne";
}




.experiences .expOptions .expl{
    display: flex;
    width: 25vw;
    height: 15vh;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0.5vw;
}


.expOptions .expl h4{
    font-size: 1.5vw;
    margin-left: 0.7vw;
    font-family: "Syne";
}


/* experience section style fror moblie view */


@media (max-width:700px){

    .experiences .expOptions .expl,
    .expOptions .expl h4{
        display: none;
    }
    
    
    .experiences h5{
        color:blue;
        font-family: "Montserrat";
        font-size: 2.5vw;
    }
    
    
    
    .experiences .expText{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 4vh;
    }
    
    
    .expText h1{
        font-family: "Syne";
        font-size: 4.5vw;
        width: 80%;
    }
    
    .expText p{
        font-family: "Montserrat";
        width: 70%;
        margin-left: 0;
        text-align: left;
        margin-top: 4vh;
    }
    
    
    .experiences .expOptions{
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2vw;
        flex-wrap: nowrap;
    }



    
    
    .experiences .expOptions .optionsContainer{
        display: flex;
        width: 35vw;
        height: 10vh;
        border: 1px solid rgb(230, 230, 230);
        box-shadow:none;
    }
    
    
    .expOptions .optionsContainer h4{
        margin-left: 1vw;
        width: 50%;
        margin-top: 7%;
    }
    
}



/* highlights container css */


.highlights {
    position: relative;
    height: 500px;
    padding-left: 5vw;
    margin-top: 7vh;
    background-color: #FFFDF0;
    background-image: url(assets/Ellipse\ 142.png);
    background-position: right;
    background-size: 20%;
    background-repeat: no-repeat;
    padding-top: 10vh;
}

.highlights::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-image: url(assets/Ellipse\ 141.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    pointer-events: none; /* Ensure it doesn't interfere with any interactions */
}

.highlights h5{
    color: #0039CD;
    font-family: "Montserrat" ;
    font-size: 1.5vw;
}



.highlights .highlightsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2vh;
}


.highlightsContainer .highlightsLeft h2{
    font-size: 3.5vw;
    font-family: "Syne";
}


.highlightsLeft p{
    font-size: 1.2vw;
    font-family: "Montserrat";
    margin-top: 2vh;
}



.highlightsContainer .communications {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    
}

/* cards for highlights section */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    padding: 1vw;
  }
  
  .glass p{
    font-family: "Syne";
    font-weight: 700;
    font-size: 0.9vw;
    text-align: center;
    margin-top: -5vh;
    margin-bottom: 2vh;
  }


  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #020202;
  }
  .container .glass img {
    width: 35%;

  }
  

/* style for highlights section in mobile view */

@media only screen and (max-width:700px){
    
    .highlights{margin-top: 17vh;}
     
     .highlights h5{
         color: #0039CD;
         font-family: "Montserrat" ;
         font-size: 2.5vw;
     }
     
     
     
     .highlights .highlightsContainer{
         display: flex;
         flex-direction: column;
         margin-top: 2vh;
     }
     
     .highlightsContainer .highlightsLeft h2{
         font-size: 5vw;
     }
     
     
     .highlightsLeft p{
         font-size: 2.5vw;
         width: 80%;
         
     }
     
     
     
     .highlightsContainer .communications {
         align-items: flex-start;
         justify-content: flex-start;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 4vh;
         margin-top: 7vh;
     }
     
}



/* get in touch section  */


.getInTouch{
    width: 100%;
    height: 250px;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.getInTouch span{
    width: 95%;
    height: 85%;
    border-radius: 10px;
    background-color: #E5EAF7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(assets/getintouch.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}


.getInTouch span h3{
    font-size: 2.9vw;
    font-family: "Syne";
    font-weight: 700;
    width: 70%;
    text-align: center;
}


.getInTouch span button {
    margin-top: 5vh;
    width: 14vw;
    height: 3vw;
    border-radius: 5px;
    background-color: #0039CD;
    font-family: "Syne";
    color: white;
    font-size: 1.2vw;
    font-weight: 700;
    border: none;
    transition: 0.3s;
}


.getInTouch span button:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}


@media (max-width:700px){
    
    .getInTouch span{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        background-color: #E5EAF7;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(assets/getintouch.svg);
        background-position: -30% ;
        background-size: 120%;
    }
    
    
    .getInTouch span h3{
        font-size: 4.9vw;
        width: 90%;
    }
    
    
    .getInTouch span button {
        width: 25vw;
        height: 5vw;
        font-size: 1.9vw;
    }
    
}




/* footer section */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #FFE76B;
    margin-top: 6vh;
    padding: 5vw;
    background-image: url(assets/footer.svg);
    background-position:  bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.footerLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.footerLeft h1{
    font-family: "Syne";
    font-size: 3.5vw;
}

.footerLeft p {
    width: 100%;
    font-size: 1.2vw;
    font-family: "Montserrat";
    margin-top: 2vh;
}

.footerLeft .socials{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 3vh;
}


.footerLeft .socials button{
    width: 15vw;
    height: 3vw;
    background-color: black;
    border: 1px solid white;
    border-radius : 5px;
    color:white;
    font-family:"Syne";
    font-weight:700;
    transition : 0.3s;
    font-size: 1.5vw;
}

.footerLeft .socials button:hover{
    background-color: blue;
    border-radius: 2px solid white;
}


.footerRight{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15vw;
    gap: 5vw;
}

.quickLinks,.moreInfo p{
    font-size: 1.4vw;
    font-family: "Syne";
    font-weight: 700;
}


.footerRight a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-family: "Montserrat";
    font-weight: 100;
    margin-top: 2vh;

}
.footerRight .quickLinks{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footerRight .moreInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.socials img{
    width: 2.5vw;
}

.copyrights1{
    font-size: 1vw;
    font-weight: 900;
    margin-top: 9vh;
}


.copyrights2{
    display: none;
}

@media (max-width:700px){
    footer {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 500px;
        margin-top:0;
        padding: 0;
        padding-left: 7vw;
        padding-top: 10vh;
        background-image: url(assets/footer2.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .footerLeft {
        width: 95%;
    }


    .footerLeft h1{
        font-family: "Syne";
        font-size: 5.5vw;
    }
    
    .footerLeft p {
        width: 100%;
        font-size: 2.7vw;
    }
    
    .footerLeft .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        margin-top: 5vh;
        margin-left: 3vw;
    }


    .socials img{
        width: 4.6vw;
    }
    
    
    .footerLeft .socials button{
        margin-left: 4vw;
        width: 30vw;
        height: 7vw;
        border: 1px solid #FFE76B;
        border-radius : 5px;
        color:#FFE76B;
        font-size: 2.7vw;
    }
    
    
    .footerRight{
        width: 60%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10vw;
        gap: 15vw;
        margin-top: 7vh;
    }
    
    
    .footerRight a{
        
        
        font-size: 2.4vw;
    
    }
    .footerRight .quickLinks{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .footerRight .moreInfo{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .copyrights1{
        display: none;
    }

    .copyrights2{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3vh;
        font-size: 2.3vw;
        font-size: "Syne";
        font-weight: 700;
    }
}


/* animation for container1 */


.absolute{
    position: absolute;
    margin: 100px auto;
    inset: 0;
    top: 417px;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    z-index: 0;
}
.justify-center{
    justify-content: right;

}
.bg-shape1{
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 5s infinite;
}
.bg-shape2{
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: two 5s infinite;    
}
@keyframes one{
    0%{left: 0px; top: 0px;}
    25%{left: -100px; top: 70px;}
    50%{left: 20px; top: 150px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}
@keyframes two{
    0%{left: 0px; top: 0px;}
    25%{left: 50px; top: 10px;}
    50%{left: 100px; top: 50px;}
    75%{left: 50px; top: 100px;}
    100%{left: 0px; top: 0px;}
}

.opacity-50{
    opacity: 37%;
}
.bg-blur{
    filter: blur(90px);
}
.bg-primary{
    background-color: rgb(30, 0, 255);
}
.bg-purple{
    background-color: rgb(140, 0, 215);
}



