* {
    padding: 0;
    margin: 0;
}

.mainHeroContainer {
    width: 99vw;
    height: 85vh;
    background-color: aqua;
    background-image: url("../../assets/heroSectionBanner.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
}


.mainHeroContainer .p1{
    font-size: 1.3vw;
    font-weight: 600 ;
}

.mainHeroContainer h1{
    font-size: 6vw;
    width: 30vw;
    font-family: "Playfair Display", serif;
}

.mainHeroContainer .p2{
    font-size: 2vw;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    color: rgb(69, 69, 69);
}

.mainHeroContainer button{
    margin-top: 30px;
    width: 13vw;
    height: 5vw;
    background-color: transparent;
    border-radius: 10px;
}